.avatar {
  margin: 0 auto 40px;
}

.title {
  margin-bottom: 20px;
}

.skeleton {
  margin-bottom: 30px;
}

.articleInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.block {
  margin-top: 16px;
}
