.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--invert-bg-color);
  transition: width 0.3s;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 0 30px;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
}

.collapseBtn {
  position: absolute;
  bottom: 0;
  right: -40px;
}
