.item {
  display: flex;
  align-items: center;
  gap: 10px;

  .icon {
    fill: var(--invert-secondary-color);
  }
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
    transition: opacity 0.2s;
  }
}
