:root {
  --bg-color: #dee8f7;
  --invert-bg-color: #1d1d39;
  --primary-color: #0f0f53;
  --secondary-color: #22228e;
  --invert-primary-color: #adffad;
  --invert-secondary-color: #77f277;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-gb: #b8cedf;
}
