.AppLink {
  color: var(--primary-color);
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--invert-secondary-color);
}
